@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'satoshi', sans-serif;
}

.zoomEffect {
  transition: transform 0.3s ease;
}

.zoomEffect:hover {
  transform: scale(1.07);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  padding-left: 2%;
  /* Increase this value if you want more space between repetitions */
  animation: marquee 30s linear infinite;
  /* Adjust the speed by increasing or decreasing the time */
}

button {
  cursor: pointer;
}